body {
  font-family: $sans-serif;
  background-color: $secondaryColor;
  letter-spacing: 0.03em;
  color: $primaryColor;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 480px;
  @media screen and(min-width: 768px) {
    max-width: 768px;
  }
  @media screen and(min-width: 1200px) {
    max-width: 1200px;
  }

  &__nav {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* @media screen and(min-width: 768px) {
      display: flex;
      align-items: center;
      margin-right: auto;*/
  }

  &__product {
    padding-bottom: 60px;
    @media screen and(min-width: 1200px) {
      padding-bottom: 94px;
    }
  }

  &__footer {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and(min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
    }
    @media screen and(min-width: 1200px) {
      justify-content: space-between;
    }
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__development {
    display: none;
    @media screen and(min-width: 1200px) {
      display: block;
      padding-top: 0;
    }
  }

  &__team {
    background-color: $backgroundColor;
    @media screen and(min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
}

.section-title {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: $primaryColor;
  margin-bottom: 30px;
  margin-top: 0;
  @media screen and(min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.visually-hiddens {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
