$primaryColor: #212121;
$textColor: #757575;
$secondaryColor: #ffffff;
$accentColor: #2196f3;
$heroColor: #2f303a;
$backgroundColor: #f5f4fa;
$gradientColor: rgba(47, 48, 58, 0.4);
$shadowColor: 0px 4px 4px rgba(0, 0, 0, 0.15);
$iconColor: #afb1b8;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$serif: 'Raleway', sans-serif;
$sans-serif: 'Roboto', sans-serif;
